*{
    padding: 0;
    margin: 0;
}
body{
    background: url(https://s1.1zoom.ru/big7/374/Sea_Summer_Sky_Beach_487898.jpg) ;
    background-size: 100%;
    background-attachment: fixed;
}
button{
    background: #fbff09;
    color: #e407f3;
    width: 80px; 
    height: 60px;
    border-radius: 40px;
    border: none;
}
input{
    
    background: #ff0000;
    color: #00ff37;
    width: 200px; 
    height: 60px;
    border-radius: 40px;
    border: none;  
    text-align: center;
    font-size: 22px;
}
p{
    font-size: 30px;
}
.card{
    background: white;
    width: 300px;
    padding: 20px;
    margin: 10px;
border-radius: 20px;
box-shadow: 0px 25px 42px 59px rgba(13, 248, 236, 0.64);
}
.formyls{
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
}
.shot{
    position: sticky;
    top: 0;
    background: url(https://mota.ru/upload/resize/1280/720/upload/wallpapers/source/2015/01/30/14/03/42855/010-6c8.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 42px 25px rgba(224, 240, 3, 0.973);
}
.shot div{
    margin: 25px;
}
.tablichki{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.znaki{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}